#root {
  margin: 0 auto;
}
body {
  background-color: black;

  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 40vh;
  height: auto;
  z-index: 2;
  position: fixed;
  margin-top: -30px;
}

@keyframes circle-grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .circle {
    animation: circle-grow linear forwards;
    animation-timeline: scroll();
  }
}

/* Center Logo */

.logo-container {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 40vh;
  width: 40vh;
  background-color: #699430;
  border-radius: 50%;
  filter: blur(80px);
  z-index: 0;
  position: fixed;
}

.spacer {
  height: 30vh;
}

.bottom-spacer {
  height: 50px;
}

.window-container{
  display: flex;
}

/* Mission Statement Window */

.mission-statement-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: first baseline;
  z-index: 6;
}

.mission-statement-window {
  max-width: 85%;
  height: auto;
  position: relative;
}

.mission-title {
  position: absolute;
  top: -.7em;
  z-index: 6;
  left: 6em;
  font-size: 1.20vw;
}

.mission-statement {
  z-index: 5;
  position: absolute;
  font-size: 1.15vw;
  top: 2em;
  left: 6.5em;
  max-width: 65%;
  height: auto;
}

/* Flyer Window */

.flyer-window {
  max-width: 85%;
  height: auto;
  position: relative;
}

.flyer-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  z-index: 5;
}

.flyer {
  position: absolute;
  max-width: 70%;
  height: auto;
  z-index: 6;
  top: 8%;
  right: 25%;
  object-fit: contain;
}

.flyer-title {
  position: absolute;
  z-index: 6;
  top: -.75em;
  left: 1em;
  font-size: 1.20vw; 
}

/* Slug Window */

.slug-window-container {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  right: 4em;
  z-index: 6;
}

.slug-window {
  max-width: 90%;
}

/* Handling Phone Screens */

@media (max-width: 600px) {
  .window-container {
    flex-direction: column;
    justify-content: center;
  }
  /* Mission Statement */
  .mission-statement-container {
    justify-content: center;
    padding-bottom: 1em;
  }
  .mission-statement-window {
    max-width: 80%;
  }
  .mission-title {
    font-size: 2.5vw;
    left: 5em;
  }
  .mission-statement {
    font-size: 2.75vw;
    max-width: 70%;
    left: 5em;
  }
  /* Slug */
  .slug-window-container {
    padding-bottom: 1em;
    justify-content: center;
    right: 0em;
  }
  .slug-window {
    max-width: 30%;
  }
  /* Flyer */
  .flyer-container {
    justify-content: center;
  }
  .flyer-window {
    max-width: 80%;
  }
  .flyer-title {
    font-size: 2.5vw; 
    left: 5em;
  }
  .flyer {
    max-width: 60%;
  }
}