#root {
  margin: 0 auto;
}
body {
  background-color: black;

  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.logo {
  width: 40vh;
  height: auto;
  z-index: 2;
  position: fixed;
  margin-top: -30px;
}

@keyframes circle-grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .circle {
    animation: circle-grow linear forwards;
    animation-timeline: scroll();
  }
}

.logo-container {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 40vh;
  width: 40vh;
  background-color: #699430;
  border-radius: 50%;
  filter: blur(80px);
  z-index: 0;
  position: fixed;
}

.spacer {
  height: 30vh;
}

.phone {
  height: calc(50vh+100px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
}

.bottom-spacer {
  height: 50px;
}

.window-container{
position: relative;
}

.flyer-container {
  position: relative;
  z-index: 5;
}

.large-window {
  max-width: 500px;
  position: absolute;

}

.mission-statement-container {
  position: relative;
  z-index: 6;
}

.small-window {
  max-width: 500px;
}

.mission-title {
  position: absolute;
  top: -10px;
  z-index: 6;
  left: 5px;
  font-size: 16px;
}

.mission-statement {
  z-index: 5;
  position: absolute;
  font-size: 18px;
  bottom: 20px;
  left: 20px;
  max-width: 400px;
}

.flyer {
  position: absolute;
  max-width: 430px;
  z-index: 6;
  top: 80px;
  left: 25px
}

.flyer-title {
   position: absolute;
  top: -10px;
  z-index: 6;
  left: 5px;
  font-size: 16px; 
}
