#root {
  margin: 0 auto;
}
body {
  background-color: black;

  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 40vh;
  height: auto;
  z-index: 2;
  position: fixed;
  margin-top: -30px;
}

@keyframes circle-grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .circle {
    animation: circle-grow linear forwards;
    animation-timeline: scroll();
  }
}

/* Center Logo */

.logo-container {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 40vh;
  width: 40vh;
  background-color: #699430;
  border-radius: 50%;
  filter: blur(80px);
  z-index: 0;
  position: fixed;
}

.spacer {
  height: 30vh;
}

.bottom-spacer {
  height: 50px;
}

.window-container{
  display: flex;
  position: relative;
}

/* Mission Statement Window */

.mission-statement-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  z-index: 6;
}

.mission-statement-window {
  max-width: 75%;
  height: auto;
  position: relative;
}

.mission-title {
  position: absolute;
  top: 6em;
  z-index: 6;
  right: 12em;
  font-size: 1.20vw;
}

.mission-statement {
  z-index: 5;
  position: absolute;
  font-size: 1vw;
  bottom: 10.5em;
  left: 12em;
  max-width: 60%;
  height: auto;
}

/* Flyer Window */

.flyer-window {
  max-width: 65%;
  height: auto;
  position: relative;
}

.flyer-container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  z-index: 5;
}

.flyer {
  position: absolute;
  max-width: 55%;
  height: auto;
  z-index: 6;
  top: 8%;
  right: 25%;
  object-fit: contain;
}

.flyer-title {
  position: absolute;
  z-index: 6;
  top: -1em;
  right: 22em;
  font-size: 1.20vw; 
}

/* Slug Window */

.slug-window-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

.slug-window {
  max-width: 70%;
}

/* Handling Phone Screens */

@media (max-width: 600px) {
  .window-container {
    flex-direction: column;
  }
}